/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Comic+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Comic Neue', sans-serif;
  font-size: 16px; /* Base font size */
  background-color: #1E1E2E;
  color: #F8F8F2;
  background: #1E1E2E url('stars.png') repeat;
  cursor: crosshair, auto;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em; /* 32px */
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em; /* 24px */
  color: #FF79C6;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.17em; /* 18.72px */
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.6;
}

a {
  color: #FF79C6;
  text-decoration: none;
}

a:hover {
  color: #BD93F9;
}

nav a {
  margin: 0 15px;
  font-size: 1em;
}

nav a:hover, .btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

header {
  background-color: #282A36;
  padding: 20px;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.btn:hover {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #FF79C6;
  }
  to {
    box-shadow: 0 0 20px #FF79C6;
  }
}

h1 {
  animation: fadeIn 2s ease-in;
}

section {
  padding: 60px 20px;
}

#intro {
  background: url('background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
}

.collapsible-button {
  background-color: #6272A4;
  color: #F8F8F2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em; /* Adjusted */
  margin-bottom: 5px;
}

.collapsible-button:hover {
  background-color: #50FA7B;
}

.collapsible-button.active {
  background-color: #44475A;
}

.collapsible-content {
  display: none;
  overflow: hidden;
  padding: 0 18px;
  background-color: #44475A;
}

.collapsible-content p {
  margin: 15px 0;
}

.reflection-image {
  max-width: 60%;
  height: auto;
  margin: 20px 0;
  border: 2px solid #FF79C6;
  border-radius: 10px;
}

footer {
  background-color: #282A36;
  padding: 20px;
  text-align: center;
  color: #6272A4;
}


